In [1]:
from matplotlib import font_manager, rc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

font_name = font_manager.FontProperties(fname='c:/windows/fonts/malgun.ttf').get_name()
rc('font', family=font_name)

In [2]:
szone = pd.read_csv('data_for_analysis/type_and_sz/szone.csv')
szone = szone.rename(columns={'Unnamed: 0': '연도별'})
szone = szone.set_index(['연도별'])
szone

       사고건수  사망자수  부상자수
연도별
2018년     1     0     1
2019년     1     0     1
2020년     5     0     6
2021년     7     0     7

In [3]:
szone.sum()

사고건수    14
사망자수     0
부상자수    15
dtype: int64

In [4]:
szone.mean()

사고건수    3.50
사망자수    0.00
부상자수    3.75
dtype: float64

In [5]:
szone.describe()

       사고건수  사망자수      부상자수
count   4.0   4.0  4.000000
mean    3.5   0.0  3.750000
std     3.0   0.0  3.201562
min     1.0   0.0  1.000000
25%     1.0   0.0  1.000000
50%     3.0   0.0  3.500000
75%     5.5   0.0  6.250000
max     7.0   0.0  7.000000