In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

plt.rcParams['font.family'] = 'NanumGothic'

df = pd.read_excel('data/PM_accident.xlsx', index_col=0)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
NaN,*개인형이동수단(PM) 교통사고 현황,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,- 사고유형별,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,발생년도,NaN,NaN,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,NaN
NaN,사고유형_대분류,사고유형_중분류,사고유형,사고건수,사망자수,부상자수,사고건수,사망자수,부상자수,사고건수,사망자수,부상자수,NaN
NaN,차대사람,횡단중,횡단중,6,0,7,12,1,13,29,0,29,NaN
NaN,차대사람,차도통행중,차도통행중,3,0,4,7,0,8,7,0,8,NaN
NaN,차대사람,길가장자리구역통행중,길가장자리구역통행중,1,0,1,4,0,4,2,0,2,NaN
NaN,차대사람,보도통행중,보도통행중,7,0,8,10,0,10,34,0,35,NaN
NaN,차대사람,기타,기타,16,0,18,28,0,29,58,0,63,NaN
NaN,차대차,정면충돌,정면충돌,6,0,7,8,0,9,18,0,21,NaN
NaN,차대차,측면충돌,측면충돌,28,1,30,66,1,70,124,3,133,NaN
NaN,차대차,추돌,추돌,NaN,NaN,NaN,8,0,10,9,0,11,NaN
NaN,차대차,기타,기타,24,0,26,59,0,64,111,0,121,NaN
NaN,차량단독,공작물충돌,공작물충돌,2,0,2,4,0,4,5,0,5,NaN
NaN,차량단독,도로이탈,도로이탈 추락,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,NaN
NaN,차량단독,도로이탈,도로이탈 기타,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,NaN
NaN,차량단독,전도전복,전도전복,12,2,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,차량단독,기타,기타,9,1,8,10,0,10,37,5,32,NaN
NaN,차량단독,전도,전도,2,0,2,9,2,7,10,0,10,NaN
NaN,차량단독,전복,전복,1,0,1,NaN,NaN,NaN,1,0,1,NaN
NaN,합계,NaN,NaN,117,4,124,225,4,238,447,8,473,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,- 가해자연령별,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,발생년,2017,NaN,NaN,2018,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN
NaN,가해자연령,사고건수,사망자수,부상자수,사고건수,사망자수,부상자수,사고건수,사망자수,부상자수,NaN,NaN,NaN
NaN,20세이하,16,0,16,25,0,29,59,0,69,NaN,NaN,NaN
NaN,21-30세,28,1,32,74,0,79,156,0,168,NaN,NaN,NaN
NaN,31-40세,21,1,22,40,0,43,97,3,99,NaN,NaN,NaN
NaN,41-50세,21,0,23,37,2,38,52,1,54,NaN,NaN,NaN
NaN,51-60세,15,1,14,20,1,20,46,0,47,NaN,NaN,NaN
NaN,61-64세,NaN,NaN,NaN,8,0,8,8,1,7,NaN,NaN,NaN
NaN,65세이상,14,1,15,20,1,20,25,3,25,NaN,NaN,NaN
NaN,불명,2,0,2,1,0,1,4,0,4,NaN,NaN,NaN
NaN,합계,117,4,124,225,4,238,447,8,473,NaN,NaN,NaN