In [1]:
from matplotlib import font_manager, rc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

font_name = font_manager.FontProperties(fname='c:/windows/fonts/malgun.ttf').get_name()
rc('font', family=font_name)

In [2]:
df_age = pd.read_excel('data/accident_연령별.xls')
df_age

,가해운전자 연령층,사고년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,사고건수,117,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
2,합계,사망자수,4,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,부상자수,124,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_age = df_age.rename(columns=df_age.iloc[0])
df_age

,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
0,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,사고건수,117,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
2,합계,사망자수,4,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,부상자수,124,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_age = df_age.drop(df_age.index[0])
df_age

,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,사고건수,117,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
2,합계,사망자수,4,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,부상자수,124,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_age = df_age.drop(df_age.index[0:3])
df_age

,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_age = df_age.drop(df_age.index[24])
df_age

,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1

In [7]:
for i in range(3):
    df_age = df_age.drop(df_age.index[-1])

df_age

,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7

In [8]:
df_age = df_age.set_index(['가해운전자 연령층'])
df_age

,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,09월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,사고건수,16,-,-,-,2,2,3,1,2,...,56,79,69,58,59,63,62,65,47,44
20세이하,사망자수,0,-,-,-,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
20세이하,부상자수,16,-,-,-,2,2,3,1,2,...,64,92,83,63,65,73,69,73,50,48
21~30세,사고건수,28,1,1,1,5,2,2,6,2,...,33,49,46,54,70,62,65,54,55,32
21~30세,사망자수,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
21~30세,부상자수,32,1,1,2,5,4,2,6,3,...,33,56,48,58,77,68,68,59,62,35
31~40세,사고건수,21,-,-,1,4,-,2,4,3,...,20,21,22,22,25,15,24,16,24,8
31~40세,사망자수,1,-,-,0,0,-,0,1,0,...,0,0,0,0,0,0,0,1,1,1
31~40세,부상자수,22,-,-,1,4,-,3,3,3,...,23,23,25,25,27,16,32,17,23,7
41~50세,사고건수,21,-,-,-,3,1,1,3,8,...,12,8,15,14,15,13,15,15,12,9
41~50세,사망자수,0,-,-,-,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
41~50세,부상자수,23,-,-,-,4,1,1,4,8,...,12,9,15,13,15,12,17,17,15,10
51~60세,사고건수,15,-,-,-,1,-,2,2,-,...,6,8,2,8,13,11,9,10,4,10
51~60세,사망자수,1,-,-,-,0,-,0,0,-,...,0,0,0,0,1,0,0,1,0,0
51~60세,부상자수,14,-,-,-,1,-,2,2,-,...,6,12,2,9,12,11,9,10,5,10
61~64세,사고건수,-,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
61~64세,사망자수,-,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
61~64세,부상자수,-,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
65세이상,사고건수,14,1,2,2,-,2,3,-,-,...,-,3,10,8,1,7,7,9,6,6
65세이상,사망자수,1,0,0,0,-,1,0,-,-,...,-,0,0,0,0,0,0,0,1,0
65세이상,부상자수,15,1,2,2,-,1,3,-,-,...,-,4,11,8,1,7,9,9,5,7

In [9]:
df_age = df_age.replace('-', 0)
df_age

,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,09월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,사고건수,16,0,0,0,2,2,3,1,2,...,56,79,69,58,59,63,62,65,47,44
20세이하,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
20세이하,부상자수,16,0,0,0,2,2,3,1,2,...,64,92,83,63,65,73,69,73,50,48
21~30세,사고건수,28,1,1,1,5,2,2,6,2,...,33,49,46,54,70,62,65,54,55,32
21~30세,사망자수,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
21~30세,부상자수,32,1,1,2,5,4,2,6,3,...,33,56,48,58,77,68,68,59,62,35
31~40세,사고건수,21,0,0,1,4,0,2,4,3,...,20,21,22,22,25,15,24,16,24,8
31~40세,사망자수,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
31~40세,부상자수,22,0,0,1,4,0,3,3,3,...,23,23,25,25,27,16,32,17,23,7
41~50세,사고건수,21,0,0,0,3,1,1,3,8,...,12,8,15,14,15,13,15,15,12,9
41~50세,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
41~50세,부상자수,23,0,0,0,4,1,1,4,8,...,12,9,15,13,15,12,17,17,15,10
51~60세,사고건수,15,0,0,0,1,0,2,2,0,...,6,8,2,8,13,11,9,10,4,10
51~60세,사망자수,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
51~60세,부상자수,14,0,0,0,1,0,2,2,0,...,6,12,2,9,12,11,9,10,5,10
61~64세,사고건수,0,0,0,0,0,0,0,0,0,...,3,1,0,1,2,3,1,3,1,3
61~64세,사망자수,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
61~64세,부상자수,0,0,0,0,0,0,0,0,0,...,2,1,0,1,1,3,1,2,1,3
65세이상,사고건수,14,1,2,2,0,2,3,0,0,...,0,3,10,8,1,7,7,9,6,6
65세이상,사망자수,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
65세이상,부상자수,15,1,2,2,0,1,3,0,0,...,0,4,11,8,1,7,9,9,5,7

In [10]:
df_age.dtypes

사고년도    object
합계       int64
02월      int64
03월      int64
04월      int64
         ...
08월      int64
09월      int64
10월      int64
11월      int64
12월      int64
Length: 65, dtype: object

In [11]:
df_age.drop(['합계'], axis=1, inplace=True)
df_age

,사고년도,02월,03월,04월,05월,06월,07월,08월,09월,10월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,사고건수,0,0,0,2,2,3,1,2,5,...,56,79,69,58,59,63,62,65,47,44
20세이하,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
20세이하,부상자수,0,0,0,2,2,3,1,2,5,...,64,92,83,63,65,73,69,73,50,48
21~30세,사고건수,1,1,1,5,2,2,6,2,3,...,33,49,46,54,70,62,65,54,55,32
21~30세,사망자수,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
21~30세,부상자수,1,1,2,5,4,2,6,3,3,...,33,56,48,58,77,68,68,59,62,35
31~40세,사고건수,0,0,1,4,0,2,4,3,1,...,20,21,22,22,25,15,24,16,24,8
31~40세,사망자수,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
31~40세,부상자수,0,0,1,4,0,3,3,3,1,...,23,23,25,25,27,16,32,17,23,7
41~50세,사고건수,0,0,0,3,1,1,3,8,4,...,12,8,15,14,15,13,15,15,12,9
41~50세,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
41~50세,부상자수,0,0,0,4,1,1,4,8,4,...,12,9,15,13,15,12,17,17,15,10
51~60세,사고건수,0,0,0,1,0,2,2,0,4,...,6,8,2,8,13,11,9,10,4,10
51~60세,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
51~60세,부상자수,0,0,0,1,0,2,2,0,4,...,6,12,2,9,12,11,9,10,5,10
61~64세,사고건수,0,0,0,0,0,0,0,0,0,...,3,1,0,1,2,3,1,3,1,3
61~64세,사망자수,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
61~64세,부상자수,0,0,0,0,0,0,0,0,0,...,2,1,0,1,1,3,1,2,1,3
65세이상,사고건수,1,2,2,0,2,3,0,0,1,...,0,3,10,8,1,7,7,9,6,6
65세이상,사망자수,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
65세이상,부상자수,1,2,2,0,1,3,0,0,3,...,0,4,11,8,1,7,9,9,5,7

In [12]:
df_age_accident = df_age[df_age['사고년도'] == '사고건수']
df_age_accident

,사고년도,02월,03월,04월,05월,06월,07월,08월,09월,10월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,사고건수,0,0,0,2,2,3,1,2,5,...,56,79,69,58,59,63,62,65,47,44
21~30세,사고건수,1,1,1,5,2,2,6,2,3,...,33,49,46,54,70,62,65,54,55,32
31~40세,사고건수,0,0,1,4,0,2,4,3,1,...,20,21,22,22,25,15,24,16,24,8
41~50세,사고건수,0,0,0,3,1,1,3,8,4,...,12,8,15,14,15,13,15,15,12,9
51~60세,사고건수,0,0,0,1,0,2,2,0,4,...,6,8,2,8,13,11,9,10,4,10
61~64세,사고건수,0,0,0,0,0,0,0,0,0,...,3,1,0,1,2,3,1,3,1,3
65세이상,사고건수,1,2,2,0,2,3,0,0,1,...,0,3,10,8,1,7,7,9,6,6

In [13]:
df_age_accident.drop(['사고년도'], axis=1, inplace=True)
df_age_accident = df_age_accident.transpose()
df_age_accident

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       1       0       0       0       0      1
03월            0       1       0       0       0       0      2
04월            0       1       1       0       0       0      2
05월            2       5       4       3       1       0      0
06월            2       2       0       1       0       0      2
07월            3       2       2       1       2       0      3
08월            1       6       4       3       2       0      0
09월            2       2       3       8       0       0      0
10월            5       3       1       4       4       0      1
11월            1       4       5       1       4       0      3
12월            0       1       1       0       2       0      0
01월            1       2       0       3       1       1      0
02월            0       1       3       1       2       1      0
03월            0       2       1       0       0       0      0
04월            3       6       3       2       1       0      1
05월            2       8       2       1       1       0      1
06월            1       8       4       1       1       0      1
07월            1      12       5       8       3       2      2
08월            4       9       5       3       1       1      5
09월            6       7       7       9       2       0      3
10월            5       5       5       4       1       1      2
11월            1       7       3       3       2       1      2
12월            1       7       2       2       5       1      3
01월            0       5       2       1       2       0      0
02월            0       6       1       2       2       1      1
03월            0       7       2       1       4       0      0
04월            2       8       3       4       2       0      0
05월            7      14      12       7       4       1      3
06월            4      23       7       2       1       0      2
07월            6      15      10       4       9       0      2
08월            7      20      18       8       4       1      2
09월           13       7      15       3       3       1      1
10월            9      19      13       9       3       2      5
11월            7      21       5       4       8       1      5
12월            4      11       9       7       4       1      4
01월            5       5       4       2       3       1      2
02월            4      12       7       6       7       0      0
03월            4       9       7       7       2       2      0
04월            9      23      11       3       5       2      2
05월           12      22      14      10       5       0      4
06월            9      22      15       7       2       3      4
07월           25      35      19       6       7       4      1
08월           18      32      14      11       8       0      3
09월           24      49      13      11       4       1      5
10월           55      44      33      15       8       4      4
11월           26      45      13      15       6       0      4
12월           18      16      13       6       2       0      1
01월           11      18      14       4       4       1      3
02월           15      17       7       6       4       0      2
03월           56      33      20      12       6       3      0
04월           79      49      21       8       8       1      3
05월           69      46      22      15       2       0     10
06월           58      54      22      14       8       1      8
07월           59      70      25      15      13       2      1
08월           63      62      15      13      11       3      7
09월           62      65      24      15       9       1      7
10월           65      54      16      15      10       3      9
11월           47      55      24      12       4       1      6
12월           44      32       8       9      10       3      6

In [14]:
df_age_death = df_age[df_age['사고년도'] == '사망자수']
df_age_death

,사고년도,02월,03월,04월,05월,06월,07월,08월,09월,10월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
21~30세,사망자수,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
31~40세,사망자수,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
41~50세,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
51~60세,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
61~64세,사망자수,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
65세이상,사망자수,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
df_age_death.drop(['사고년도'], axis=1, inplace=True)
df_age_death = df_age_death.transpose()
df_age_death

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       0       0       0       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       0       0       0       0       0      1
07월            0       1       0       0       0       0      0
08월            0       0       1       0       0       0      0
09월            0       0       0       0       0       0      0
10월            0       0       0       0       0       0      0
11월            0       0       0       0       1       0      0
12월            0       0       0       0       0       0      0
01월            0       0       0       0       0       0      0
02월            0       0       0       0       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       0       0       0       0       0      0
07월            0       0       0       0       0       0      0
08월            0       0       0       0       1       0      1
09월            0       0       0       2       0       0      0
10월            0       0       0       0       0       0      0
11월            0       0       0       0       0       0      0
12월            0       0       0       0       0       0      0
01월            0       0       0       0       0       0      0
02월            0       0       0       1       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       1       0       0       0      0
06월            0       0       0       0       0       0      0
07월            0       0       1       0       0       0      1
08월            0       0       0       0       0       0      0
09월            0       0       1       0       0       1      0
10월            0       0       0       0       0       0      1
11월            0       0       0       0       0       0      0
12월            0       0       0       0       0       0      1
01월            0       0       0       0       0       0      0
02월            0       0       0       0       1       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       1       0       0      0
05월            0       0       0       0       0       0      0
06월            0       1       0       0       0       0      0
07월            0       1       0       0       0       0      0
08월            0       0       0       0       0       0      0
09월            0       0       0       0       0       0      0
10월            1       0       0       0       1       0      2
11월            0       0       0       0       2       0      0
12월            0       0       0       0       0       0      0
01월            0       0       1       0       0       0      0
02월            1       0       0       0       1       0      0
03월            0       0       0       0       0       1      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       1       0       1       0       0      0
07월            0       0       0       0       1       1      0
08월            0       0       0       1       0       0      0
09월            1       1       0       0       0       0      0
10월            1       0       1       0       1       1      0
11월            0       0       1       0       0       0      1
12월            0       0       1       1       0       0      0

In [16]:
df_age_injury = df_age[df_age['사고년도'] == '부상자수']
df_age_injury

,사고년도,02월,03월,04월,05월,06월,07월,08월,09월,10월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
가해운전자 연령층,,,,,,,,,,,,,,,,,,,,,
20세이하,부상자수,0,0,0,2,2,3,1,2,5,...,64,92,83,63,65,73,69,73,50,48
21~30세,부상자수,1,1,2,5,4,2,6,3,3,...,33,56,48,58,77,68,68,59,62,35
31~40세,부상자수,0,0,1,4,0,3,3,3,1,...,23,23,25,25,27,16,32,17,23,7
41~50세,부상자수,0,0,0,4,1,1,4,8,4,...,12,9,15,13,15,12,17,17,15,10
51~60세,부상자수,0,0,0,1,0,2,2,0,4,...,6,12,2,9,12,11,9,10,5,10
61~64세,부상자수,0,0,0,0,0,0,0,0,0,...,2,1,0,1,1,3,1,2,1,3
65세이상,부상자수,1,2,2,0,1,3,0,0,3,...,0,4,11,8,1,7,9,9,5,7

In [17]:
df_age_injury.drop(['사고년도'], axis=1, inplace=True)
df_age_injury = df_age_injury.transpose()
df_age_injury

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       1       0       0       0       0      1
03월            0       1       0       0       0       0      2
04월            0       2       1       0       0       0      2
05월            2       5       4       4       1       0      0
06월            2       4       0       1       0       0      1
07월            3       2       3       1       2       0      3
08월            1       6       3       4       2       0      0
09월            2       3       3       8       0       0      0
10월            5       3       1       4       4       0      3
11월            1       4       6       1       3       0      3
12월            0       1       1       0       2       0      0
01월            1       2       0       3       1       1      0
02월            0       1       3       1       2       1      0
03월            0       2       1       0       0       0      0
04월            4       7       3       4       1       0      1
05월            2       8       2       1       1       0      1
06월            1       8       4       1       2       0      1
07월            1      12       5       8       3       2      2
08월            5       9       6       3       0       1      4
09월            7       7       7       7       2       0      3
10월            6       6       7       4       1       1      2
11월            1       7       3       3       2       1      2
12월            1      10       2       3       5       1      4
01월            0       5       2       1       2       0      0
02월            0       7       1       1       2       1      1
03월            0       8       2       1       4       0      0
04월            2       8       3       4       2       0      0
05월            7      15      12       7       4       1      3
06월            5      24       8       2       1       0      3
07월            7      16       9       4      10       0      1
08월            8      23      18      10       4       1      2
09월           19       9      14       3       3       0      1
10월            9      21      15      10       3       2      5
11월            8      21       6       4       8       1      6
12월            4      11       9       7       4       1      3
01월            6       6       5       3       3       1      3
02월            5      12       7       6       6       0      0
03월            4      10       8      10       2       2      0
04월            9      25      11       2       5       4      6
05월           13      27      18      10       5       0      4
06월           10      23      16       8       2       3      5
07월           29      36      19       6       7       4      1
08월           23      34      15      12       9       0      3
09월           30      50      13      14       5       1      5
10월           67      51      35      17       8       4      2
11월           29      47      15      15       5       0      4
12월           19      17      14       6       2       0      1
01월           11      22      14       4       5       1      3
02월           19      18       7       7       3       0      2
03월           64      33      23      12       6       2      0
04월           92      56      23       9      12       1      4
05월           83      48      25      15       2       0     11
06월           63      58      25      13       9       1      8
07월           65      77      27      15      12       1      1
08월           73      68      16      12      11       3      7
09월           69      68      32      17       9       1      9
10월           73      59      17      17      10       2      9
11월           50      62      23      15       5       1      5
12월           48      35       7      10      10       3      7

In [18]:
###################################################################################

In [19]:
df_age_accident_2017 = df_age_accident[0:11]
df_age_accident_2017
#df_age_accident_2017.to_csv('../age_accident_2017.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       1       0       0       0       0      1
03월            0       1       0       0       0       0      2
04월            0       1       1       0       0       0      2
05월            2       5       4       3       1       0      0
06월            2       2       0       1       0       0      2
07월            3       2       2       1       2       0      3
08월            1       6       4       3       2       0      0
09월            2       2       3       8       0       0      0
10월            5       3       1       4       4       0      1
11월            1       4       5       1       4       0      3
12월            0       1       1       0       2       0      0

In [20]:
df_age_accident_2018 = df_age_accident[11:23]
df_age_accident_2018
#df_age_accident_2018.to_csv('../age_accident_2018.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            1       2       0       3       1       1      0
02월            0       1       3       1       2       1      0
03월            0       2       1       0       0       0      0
04월            3       6       3       2       1       0      1
05월            2       8       2       1       1       0      1
06월            1       8       4       1       1       0      1
07월            1      12       5       8       3       2      2
08월            4       9       5       3       1       1      5
09월            6       7       7       9       2       0      3
10월            5       5       5       4       1       1      2
11월            1       7       3       3       2       1      2
12월            1       7       2       2       5       1      3

In [21]:
df_age_accident_2019 = df_age_accident[23:35]
df_age_accident_2019
#df_age_accident_2019.to_csv('../age_accident_2019.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       5       2       1       2       0      0
02월            0       6       1       2       2       1      1
03월            0       7       2       1       4       0      0
04월            2       8       3       4       2       0      0
05월            7      14      12       7       4       1      3
06월            4      23       7       2       1       0      2
07월            6      15      10       4       9       0      2
08월            7      20      18       8       4       1      2
09월           13       7      15       3       3       1      1
10월            9      19      13       9       3       2      5
11월            7      21       5       4       8       1      5
12월            4      11       9       7       4       1      4

In [22]:
df_age_accident_2020 = df_age_accident[35:47]
df_age_accident_2020
#df_age_accident_2020.to_csv('../age_accident_2020.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            5       5       4       2       3       1      2
02월            4      12       7       6       7       0      0
03월            4       9       7       7       2       2      0
04월            9      23      11       3       5       2      2
05월           12      22      14      10       5       0      4
06월            9      22      15       7       2       3      4
07월           25      35      19       6       7       4      1
08월           18      32      14      11       8       0      3
09월           24      49      13      11       4       1      5
10월           55      44      33      15       8       4      4
11월           26      45      13      15       6       0      4
12월           18      16      13       6       2       0      1

In [23]:
df_age_accident_2021 = df_age_accident[47:59]
df_age_accident_2021
#df_age_accident_2021.to_csv('../age_accident_2021.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월           11      18      14       4       4       1      3
02월           15      17       7       6       4       0      2
03월           56      33      20      12       6       3      0
04월           79      49      21       8       8       1      3
05월           69      46      22      15       2       0     10
06월           58      54      22      14       8       1      8
07월           59      70      25      15      13       2      1
08월           63      62      15      13      11       3      7
09월           62      65      24      15       9       1      7
10월           65      54      16      15      10       3      9
11월           47      55      24      12       4       1      6
12월           44      32       8       9      10       3      6

In [24]:
#####################################################################################

In [25]:
df_age_death_2017 = df_age_death[0:11]
df_age_death_2017
#df_age_death_2017.to_csv('../age_death_2017.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       0       0       0       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       0       0       0       0       0      1
07월            0       1       0       0       0       0      0
08월            0       0       1       0       0       0      0
09월            0       0       0       0       0       0      0
10월            0       0       0       0       0       0      0
11월            0       0       0       0       1       0      0
12월            0       0       0       0       0       0      0

In [26]:
df_age_death_2018 = df_age_death[11:23]
df_age_death_2018
#df_age_death_2018.to_csv('../age_death_2018.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       0       0       0       0       0      0
02월            0       0       0       0       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       0       0       0       0       0      0
07월            0       0       0       0       0       0      0
08월            0       0       0       0       1       0      1
09월            0       0       0       2       0       0      0
10월            0       0       0       0       0       0      0
11월            0       0       0       0       0       0      0
12월            0       0       0       0       0       0      0

In [27]:
df_age_death_2019 = df_age_death[23:35]
df_age_death_2019
#df_age_death_2019.to_csv('../age_death_2019.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       0       0       0       0       0      0
02월            0       0       0       1       0       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       0       0       0      0
05월            0       0       1       0       0       0      0
06월            0       0       0       0       0       0      0
07월            0       0       1       0       0       0      1
08월            0       0       0       0       0       0      0
09월            0       0       1       0       0       1      0
10월            0       0       0       0       0       0      1
11월            0       0       0       0       0       0      0
12월            0       0       0       0       0       0      1

In [28]:
df_age_death_2020 = df_age_death[35:47]
df_age_death_2020
#df_age_death_2020.to_csv('../age_death_2020.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       0       0       0       0       0      0
02월            0       0       0       0       1       0      0
03월            0       0       0       0       0       0      0
04월            0       0       0       1       0       0      0
05월            0       0       0       0       0       0      0
06월            0       1       0       0       0       0      0
07월            0       1       0       0       0       0      0
08월            0       0       0       0       0       0      0
09월            0       0       0       0       0       0      0
10월            1       0       0       0       1       0      2
11월            0       0       0       0       2       0      0
12월            0       0       0       0       0       0      0

In [29]:
df_age_death_2021 = df_age_death[47:59]
df_age_death_2021
#df_age_death_2021.to_csv('../age_death_2021.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       0       1       0       0       0      0
02월            1       0       0       0       1       0      0
03월            0       0       0       0       0       1      0
04월            0       0       0       0       0       0      0
05월            0       0       0       0       0       0      0
06월            0       1       0       1       0       0      0
07월            0       0       0       0       1       1      0
08월            0       0       0       1       0       0      0
09월            1       1       0       0       0       0      0
10월            1       0       1       0       1       1      0
11월            0       0       1       0       0       0      1
12월            0       0       1       1       0       0      0

In [30]:
######################################################################################

In [31]:
df_age_injury_2017 = df_age_injury[0:11]
df_age_injury_2017
#df_age_injury_2017.to_csv('../age_injury_2017.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
02월            0       1       0       0       0       0      1
03월            0       1       0       0       0       0      2
04월            0       2       1       0       0       0      2
05월            2       5       4       4       1       0      0
06월            2       4       0       1       0       0      1
07월            3       2       3       1       2       0      3
08월            1       6       3       4       2       0      0
09월            2       3       3       8       0       0      0
10월            5       3       1       4       4       0      3
11월            1       4       6       1       3       0      3
12월            0       1       1       0       2       0      0

In [32]:
df_age_injury_2018 = df_age_injury[11:23]
df_age_injury_2018
#df_age_injury_2018.to_csv('../age_injury_2018.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            1       2       0       3       1       1      0
02월            0       1       3       1       2       1      0
03월            0       2       1       0       0       0      0
04월            4       7       3       4       1       0      1
05월            2       8       2       1       1       0      1
06월            1       8       4       1       2       0      1
07월            1      12       5       8       3       2      2
08월            5       9       6       3       0       1      4
09월            7       7       7       7       2       0      3
10월            6       6       7       4       1       1      2
11월            1       7       3       3       2       1      2
12월            1      10       2       3       5       1      4

In [33]:
df_age_injury_2019 = df_age_injury[23:35]
df_age_injury_2019
#df_age_injury_2019.to_csv('../age_injury_2019.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            0       5       2       1       2       0      0
02월            0       7       1       1       2       1      1
03월            0       8       2       1       4       0      0
04월            2       8       3       4       2       0      0
05월            7      15      12       7       4       1      3
06월            5      24       8       2       1       0      3
07월            7      16       9       4      10       0      1
08월            8      23      18      10       4       1      2
09월           19       9      14       3       3       0      1
10월            9      21      15      10       3       2      5
11월            8      21       6       4       8       1      6
12월            4      11       9       7       4       1      3

In [34]:
df_age_injury_2020 = df_age_injury[35:47]
df_age_injury_2020
#df_age_injury_2020.to_csv('../age_injury_2020.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월            6       6       5       3       3       1      3
02월            5      12       7       6       6       0      0
03월            4      10       8      10       2       2      0
04월            9      25      11       2       5       4      6
05월           13      27      18      10       5       0      4
06월           10      23      16       8       2       3      5
07월           29      36      19       6       7       4      1
08월           23      34      15      12       9       0      3
09월           30      50      13      14       5       1      5
10월           67      51      35      17       8       4      2
11월           29      47      15      15       5       0      4
12월           19      17      14       6       2       0      1

In [35]:
df_age_injury_2021 = df_age_injury[47:59]
df_age_injury_2021
#df_age_injury_2021.to_csv('../age_injury_2021.csv')

가해운전자 연령층  20세이하  21~30세  31~40세  41~50세  51~60세  61~64세  65세이상
01월           11      22      14       4       5       1      3
02월           19      18       7       7       3       0      2
03월           64      33      23      12       6       2      0
04월           92      56      23       9      12       1      4
05월           83      48      25      15       2       0     11
06월           63      58      25      13       9       1      8
07월           65      77      27      15      12       1      1
08월           73      68      16      12      11       3      7
09월           69      68      32      17       9       1      9
10월           73      59      17      17      10       2      9
11월           50      62      23      15       5       1      5
12월           48      35       7      10      10       3      7