In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
accident_by_day = pd.read_excel('data/accident_요일별.xls')
accident_by_day

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2018,...,2020.6,2020.7,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7
0,기준년도,합계,일,월,화,수,목,금,토,합계,...,금,토,합계,일,월,화,수,목,금,토
1,사고건수,117,11,17,19,18,20,13,19,225,...,132,131,1735,235,242,219,249,285,277,228
2,사망자수,4,0,1,1,0,1,0,1,4,...,1,2,19,6,5,2,1,5,0,0
3,부상자수,124,12,18,21,19,19,14,21,238,...,144,142,1901,260,260,241,267,314,306,253
4,출처)도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
accidnet_by_month = pd.read_excel('data/accident_월별.xls')
accidnet_by_month

,월별 교통사고,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,"(단위 : 건, 명)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기준년도,2017,2017,2017,2017,2017,2017,2017,2017,2017,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
2,기준년도,합계,02월,03월,04월,05월,06월,07월,08월,09월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
3,사고건수,117,2,4,4,15,7,13,17,15,...,133,173,166,167,186,181,184,174,152,113
4,사망자수,4,0,0,0,0,1,1,1,0,...,1,0,0,2,2,1,2,4,2,2
5,부상자수,124,2,4,5,16,8,14,17,16,...,143,201,186,179,199,197,206,189,164,121
6,출처)도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
accidnet_by_time = pd.read_excel('data/accident_시간별.xls')
accidnet_by_time

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
1,사고건수,117,6,8,1,7,20,10,6,10,...,28,52,135,122,142,185,250,247,204,232
2,사망자수,4,1,1,0,0,0,0,0,1,...,2,1,2,1,0,3,0,0,5,3
3,부상자수,124,5,7,1,7,20,11,6,9,...,30,57,141,136,160,195,275,279,217,260
4,주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&#10;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
accidnet_by_type = pd.read_excel('data/accident_사고유형별.xls')
accidnet_by_type

,기준년도,합계,합계.1,합계.2,합계.3,합계.4,합계.5,합계.6,합계.7,합계.8,...,2018.52,2018.53,2018.54,2018.55,2018.56,2018.57,2018.58,2018.59,2018.60,2018.61
0,기준년도,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,차대사람,차대차,차대차,차대차,차대차,차대차,차대차,차대차,차대차,차대차
1,기준년도,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,기타,합계,합계,합계,합계,합계,정면충돌,정면충돌,측면충돌,측면충돌
2,기준년도,합계,횡단중,후진중충돌,공작물충돌,주/정차차량 충돌,도로이탈 추락,도로이탈 기타,기타,전도,...,기타,합계,정면충돌,측면충돌,추돌,기타,합계,정면충돌,합계,측면충돌
3,사고건수,3421,198,2,36,1,9,4,210,104,...,28,141,8,66,8,59,8,8,66,66
4,사망자수,45,1,0,2,0,0,0,13,8,...,0,1,0,1,0,0,0,0,1,1
5,부상자수,3721,212,2,34,1,9,4,200,97,...,29,153,9,70,10,64,9,9,70,70
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,출처)도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
accident_by_sz = pd.read_excel('data/accident_스쿨존.xls')
accident_by_sz

,기준년도,2018,2018.1,2019,2019.1,2020,2020.1,2020.2,2020.3,2020.4,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6
0,기준년도,합계,04월,합계,09월,합계,03월,06월,09월,11월,합계,06월,08월,09월,10월,11월,12월
1,사고건수,1,1,1,1,5,1,2,1,1,7,1,1,2,1,1,1
2,사망자수,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,부상자수,1,1,1,1,6,2,2,1,1,7,1,1,2,1,1,1
4,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
accident_by_violation = pd.read_excel('data/accident_법규위반별.xls')
accident_by_violation

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.18,2021.19,2021.20,2021.21,2021.22,2021.23,2021.24,2021.25,2021.26,2021.27
0,기준년도,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반,운전자법규위반
1,기준년도,합계,중앙선침범,신호위반,안전거리미확보,일시정지위반,부당한회전,안전운전의무불이행,교차로운행방법위반,보행자보호의무위반,...,안전거리미확보,일시정지위반,부당한회전,진로양보불이행,안전운전의무불이행,교차로운행방법위반,보행자보호의무위반,차로위반(진로변경),직진우회전진행방해,기타
2,사고건수,117,8,4,3,1,1,82,6,3,...,31,5,46,1,1013,31,40,4,48,263
3,사망자수,4,0,0,1,0,0,3,0,0,...,0,0,0,0,14,0,0,0,0,1
4,부상자수,124,10,5,2,1,1,83,8,4,...,35,6,53,2,1094,40,41,10,56,269
5,출처)도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
accident_by_age = pd.read_excel('data/accident_연령별.xls')
accident_by_age

,가해운전자 연령층,사고년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,사고건수,117,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
2,합계,사망자수,4,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,부상자수,124,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
accident_by_age_gear = pd.read_excel('data/연령층별_보호장구착용여부.xls')
accident_by_age_gear

,연령,사고년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,...,2021.11,2021.12,2021.13,2021.14,2021.15,2021.16,2021.17,2021.18,2021.19,2021.20
0,연령,사고년도,합계,합계,합계,합계,합계,합계,합계,합계,...,안전벨트/카시트,안전벨트/카시트,안전모,안전모,안전모,안전모,보행자,보행자,기타불명,기타불명
1,연령,사고년도,합계,착용,미착용,착용불명,착용,미착용,착용불명,보행자,...,미착용,착용불명,합계,착용,미착용,착용불명,합계,보행자,합계,기타불명
2,합계,사망자수,4,0,0,0,1,1,0,0,...,0,0,17,3,11,3,0,0,2,2
3,합계,부상자수,124,5,1,0,15,31,17,36,...,6,31,1017,310,516,191,670,670,109,109
4,12세이하,사망자수,0,-,-,-,-,0,0,0,...,-,-,0,0,0,0,0,0,0,0
5,12세이하,부상자수,5,-,-,-,-,1,1,2,...,-,-,11,3,6,2,58,58,3,3
6,13-20세,사망자수,0,-,-,-,0,0,0,0,...,0,0,2,0,2,0,0,0,0,0
7,13-20세,부상자수,10,-,-,-,1,1,4,3,...,1,2,268,40,181,47,53,53,20,20
8,21-30세,사망자수,1,0,-,0,0,0,0,0,...,0,0,2,0,2,0,0,0,1,1
9,21-30세,부상자수,26,1,-,0,7,6,2,5,...,0,9,316,89,175,52,148,148,31,31
10,31-40세,사망자수,1,0,-,0,1,0,0,0,...,-,0,3,0,2,1,0,0,0,0
11,31-40세,부상자수,20,2,-,0,3,8,2,3,...,-,5,167,77,56,34,75,75,21,21
12,41-50세,사망자수,0,0,0,0,0,0,0,0,...,0,0,2,0,2,0,0,0,1,1
13,41-50세,부상자수,25,0,1,0,2,10,3,5,...,1,4,115,54,36,25,80,80,15,15
14,51-60세,사망자수,1,0,-,0,0,1,0,0,...,0,0,3,1,0,2,0,0,0,0
15,51-60세,부상자수,13,2,-,0,1,4,2,2,...,1,8,65,24,28,13,93,93,13,13
16,61-64세,사망자수,0,0,-,-,0,-,-,0,...,0,0,2,1,1,0,0,0,0,0
17,61-64세,부상자수,8,0,-,-,1,-,-,6,...,2,2,18,7,7,4,54,54,1,1
18,65-70세,사망자수,0,-,-,-,-,0,0,0,...,0,0,2,1,1,0,0,0,0,0
19,65-70세,부상자수,4,-,-,-,-,1,1,1,...,1,0,21,4,12,5,54,54,2,2
20,71세이상,사망자수,1,-,-,-,-,0,0,0,...,-,0,1,0,1,0,0,0,0,0
21,71세이상,부상자수,13,-,-,-,-,0,2,9,...,-,1,35,11,15,9,55,55,3,3
22,불명,사망자수,0,-,-,-,-,-,-,-,...,-,-,0,0,-,-,-,-,0,0
23,불명,부상자수,0,-,-,-,-,-,-,-,...,-,-,1,1,-,-,-,-,0,0
24,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
accident_gear = pd.read_excel('data/보호장구.xls')
accident_gear

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.14,2021.15,2021.16,2021.17,2021.18,2021.19,2021.20,2021.21,2021.22,2021.23
0,기준년도,합계,합계,합계,합계,합계,합계,합계,합계,합계,...,안전모,안전모,안전모,안전모,보행자,보행자,기타불명,기타불명,불명,불명
1,기준년도,합계,착용,미착용,착용불명,착용,미착용,착용불명,보행자,기타불명,...,합계,착용,미착용,착용불명,합계,보행자,합계,기타불명,합계,불명
2,사망자수,4,0,0,0,1,1,0,0,2,...,17,3,11,3,0,0,2,2,0,0
3,부상자수,124,5,1,0,15,31,17,36,19,...,1017,310,516,191,670,670,109,109,0,0
4,출처)도로교통공단.&#10;주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
accident_by_age_by_month = pd.read_excel('data/가해운전자_연령층별_월별_교통사고.xls')
accident_by_age_by_month

,가해운전자 연령층,사고년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,가해운전자 연령층,사고년도,합계,02월,03월,04월,05월,06월,07월,08월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,사고건수,117,2,4,4,15,7,13,17,...,133,173,166,167,186,181,184,174,152,113
2,합계,사망자수,4,0,0,0,0,1,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,부상자수,124,2,4,5,16,8,14,17,...,143,201,186,179,199,197,206,189,164,121
4,20세이하,사고건수,16,-,-,-,2,2,3,1,...,56,79,69,58,59,63,62,65,47,44
5,20세이하,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,20세이하,부상자수,16,-,-,-,2,2,3,1,...,64,92,83,63,65,73,69,73,50,48
7,21~30세,사고건수,28,1,1,1,5,2,2,6,...,33,49,46,54,70,62,65,54,55,32
8,21~30세,사망자수,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
9,21~30세,부상자수,32,1,1,2,5,4,2,6,...,33,56,48,58,77,68,68,59,62,35
10,31~40세,사고건수,21,-,-,1,4,-,2,4,...,20,21,22,22,25,15,24,16,24,8
11,31~40세,사망자수,1,-,-,0,0,-,0,1,...,0,0,0,0,0,0,0,1,1,1
12,31~40세,부상자수,22,-,-,1,4,-,3,3,...,23,23,25,25,27,16,32,17,23,7
13,41~50세,사고건수,21,-,-,-,3,1,1,3,...,12,8,15,14,15,13,15,15,12,9
14,41~50세,사망자수,0,-,-,-,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
15,41~50세,부상자수,23,-,-,-,4,1,1,4,...,12,9,15,13,15,12,17,17,15,10
16,51~60세,사고건수,15,-,-,-,1,-,2,2,...,6,8,2,8,13,11,9,10,4,10
17,51~60세,사망자수,1,-,-,-,0,-,0,0,...,0,0,0,0,1,0,0,1,0,0
18,51~60세,부상자수,14,-,-,-,1,-,2,2,...,6,12,2,9,12,11,9,10,5,10
19,61~64세,사고건수,-,-,-,-,-,-,-,-,...,3,1,-,1,2,3,1,3,1,3
20,61~64세,사망자수,-,-,-,-,-,-,-,-,...,1,0,-,0,1,0,0,1,0,0
21,61~64세,부상자수,-,-,-,-,-,-,-,-,...,2,1,-,1,1,3,1,2,1,3
22,65세이상,사고건수,14,1,2,2,-,2,3,-,...,-,3,10,8,1,7,7,9,6,6
23,65세이상,사망자수,1,0,0,0,-,1,0,-,...,-,0,0,0,0,0,0,0,1,0
24,65세이상,부상자수,15,1,2,2,-,1,3,-,...,-,4,11,8,1,7,9,9,5,7
25,미분류,사고건수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
26,미분류,사망자수,0,-,0,-,-,-,-,0,...,0,0,0,0,0,0,0,0,0,0
27,미분류,부상자수,2,-,1,-,-,-,-,1,...,3,4,2,2,1,7,1,2,3,1
28,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
by_month_pedstrian = pd.read_excel('data/월별_보행사상자.xls')
by_month_pedstrian

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,기준년도,합계,03월,04월,05월,06월,07월,08월,09월,10월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,사망자수,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,부상자수,36,3,1,4,3,4,6,3,6,...,54,72,77,61,63,60,64,65,64,54
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
accident_by_intersectiontype_by_month = pd.read_excel('data/교차로형태별_월별_교통사고.xls')
accident_by_intersectiontype_by_month

,교차로형태별대분류,교차로형태별세분류,사고년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,교차로형태별대분류,교차로형태별세분류,사고년도,합계,02월,03월,04월,05월,06월,07월,...,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월
1,합계,합계,사고건수,117,2,4,4,15,7,13,...,133,173,166,167,186,181,184,174,152,113
2,합계,합계,사망자수,4,0,0,0,0,1,1,...,1,0,0,2,2,1,2,4,2,2
3,합계,합계,부상자수,124,2,4,5,16,8,14,...,143,201,186,179,199,197,206,189,164,121
4,합계,교차로아님,사고건수,85,2,4,3,13,4,11,...,84,115,110,106,110,109,106,111,96,70
5,합계,교차로아님,사망자수,4,0,0,0,0,1,1,...,0,0,0,1,1,1,1,2,2,2
6,합계,교차로아님,부상자수,88,2,4,3,14,5,12,...,89,135,121,114,114,117,113,117,104,71
7,합계,교차로 - 삼지,사고건수,17,-,-,-,1,2,1,...,11,26,25,27,37,21,26,27,18,13
8,합계,교차로 - 삼지,사망자수,0,-,-,-,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,합계,교차로 - 삼지,부상자수,20,-,-,-,1,2,1,...,11,28,28,27,43,23,30,31,19,14
10,합계,교차로 - 사지,사고건수,15,-,-,1,1,1,1,...,36,31,31,32,38,50,50,34,37,30
11,합계,교차로 - 사지,사망자수,0,-,-,0,0,0,0,...,1,0,0,1,1,0,1,1,0,0
12,합계,교차로 - 사지,부상자수,16,-,-,2,1,1,1,...,41,37,37,36,41,56,61,38,38,36
13,합계,교차로 - 오지이상,사고건수,-,-,-,-,-,-,-,...,2,1,-,1,1,1,1,1,1,-
14,합계,교차로 - 오지이상,사망자수,-,-,-,-,-,-,-,...,0,0,-,0,0,0,0,0,0,-
15,합계,교차로 - 오지이상,부상자수,-,-,-,-,-,-,-,...,2,1,-,1,1,1,1,1,3,-
16,합계,교차로 - 회전,사고건수,-,-,-,-,-,-,-,...,-,-,-,1,-,-,1,1,-,-
17,합계,교차로 - 회전,사망자수,-,-,-,-,-,-,-,...,-,-,-,0,-,-,0,0,-,-
18,합계,교차로 - 회전,부상자수,-,-,-,-,-,-,-,...,-,-,-,1,-,-,1,2,-,-
19,교차로아님,합계,사고건수,85,2,4,3,13,4,11,...,84,115,110,106,110,109,106,111,96,70
20,교차로아님,합계,사망자수,4,0,0,0,0,1,1,...,0,0,0,1,1,1,1,2,2,2
21,교차로아님,합계,부상자수,88,2,4,3,14,5,12,...,89,135,121,114,114,117,113,117,104,71
22,교차로아님,교차로아님,사고건수,85,2,4,3,13,4,11,...,84,115,110,106,110,109,106,111,96,70
23,교차로아님,교차로아님,사망자수,4,0,0,0,0,1,1,...,0,0,0,1,1,1,1,2,2,2
24,교차로아님,교차로아님,부상자수,88,2,4,3,14,5,12,...,89,135,121,114,114,117,113,117,104,71
25,교차로,합계,사고건수,32,-,-,1,2,3,2,...,49,58,56,61,76,72,78,63,56,43
26,교차로,합계,사망자수,0,-,-,0,0,0,0,...,1,0,0,1,1,0,1,2,0,0
27,교차로,합계,부상자수,36,-,-,2,2,3,2,...,54,66,65,65,85,80,93,72,60,50
28,교차로,교차로 - 삼지,사고건수,17,-,-,-,1,2,1,...,11,26,25,27,37,21,26,27,18,13
29,교차로,교차로 - 삼지,사망자수,0,-,-,-,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30,교차로,교차로 - 삼지,부상자수,20,-,-,-,1,2,1,...,11,28,28,27,43,23,30,31,19,14
31,교차로,교차로 - 사지,사고건수,15,-,-,1,1,1,1,...,36,31,31,32,38,50,50,34,37,30
32,교차로,교차로 - 사지,사망자수,0,-,-,0,0,0,0,...,1,0,0,1,1,0,1,1,0,0
33,교차로,교차로 - 사지,부상자수,16,-,-,2,1,1,1,...,41,37,37,36,41,56,61,38,38,36
34,교차로,교차로 - 오지이상,사고건수,-,-,-,-,-,-,-,...,2,1,-,1,1,1,1,1,1,-
35,교차로,교차로 - 오지이상,사망자수,-,-,-,-,-,-,-,...,0,0,-,0,0,0,0,0,0,-
36,교차로,교차로 - 오지이상,부상자수,-,-,-,-,-,-,-,...,2,1,-,1,1,1,1,1,3,-
37,교차로,교차로 - 회전,사고건수,-,-,-,-,-,-,-,...,-,-,-,1,-,-,1,1,-,-
38,교차로,교차로 - 회전,사망자수,-,-,-,-,-,-,-,...,-,-,-,0,-,-,0,0,-,-
39,교차로,교차로 - 회전,부상자수,-,-,-,-,-,-,-,...,-,-,-,1,-,-,1,2,-,-
40,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN